@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// Colors
// Primary
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

// Font
$primary-font-family: "Open Sans";
$secondary-font-family: "Poppins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  line-height: 1.4;
}

.btn {
  display: inline-block;
  background: white;
  border-radius: 55px;
  padding: 0.7em 5.5em;
}

body {
  font-family: $primary-font-family, sans-serif;
  //   font-size: $font-size;
  font-weight: 400;
  color: white;
  line-height: 1.6;
  min-height: 100vh;
  text-align: center;
  background: $violet url("../images/bg-mobile.svg") no-repeat;
  background-size: contain;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  .container {
    display: flex;
    align-items: center;
    padding: 2em 0;
  }

  .logo {
    width: 200px;
    height: 40px;
  }
}

main {
  // max-width: 600px;
  .illustration {
    margin: 1.4em 0 3.5em;
    // max-height: 385px;

    img {
      width: 100%;
      // height: 385px;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 1.6rem;
    font-family: $secondary-font-family, sans-serif;
  }

  p {
    font-size: 1rem;
    margin: 1.6em 0;
  }

  a.btn {
    font-family: $secondary-font-family, sans-serif;
    font-size: 14px;
    color: $violet;
    margin-top: 0.3em;
    box-shadow: 0 2px 2px 1px rgba(77, 56, 129, 0.8);
    transition: all 0.5s ease-in-out;
  }

  a.btn:hover {
    background: $soft-magenta;
    color: white;
  }
}

footer {
  margin: 4em 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: white;
      border: 0.3px solid white;
      border-radius: 50%;
      margin: 0 0.5em;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      transition: all 0.5 ease-in-out;
    }

    a:hover {
      color: $soft-magenta;
      border-color: $soft-magenta;
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    a {
      // color: hsl(228, 45%, 44%);
      color: $soft-magenta;
    }
  }
}

// Media queries
// @media (min-width: 434px) {
//   main {
//     h1 {
//       font-size: 1.9rem;
//     }
//   }
// }

@media (min-width: 515px) {
  main {
    h1 {
      font-size: 2.1rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 635px) {
  main {
    .illustration {
      margin: 1.4em 0 3.5em;
      // max-height: 385px;

      img {
        max-width: 100%;
        height: 365px;
        object-fit: contain;
      }
    }
  }
}

@media (min-width: 835px) {
  .btn {
    padding: 0.8em 5.5em;
  }

  main {
    .illustration {
      margin: 1.4em 0 3.5em;
      // max-height: 385px;

      img {
        width: 100%;
        height: 365px;
        object-fit: contain;
      }
    }

    p {
      padding: 0 5em;
    }

    a.btn {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 950px) {
  .container {
    width: 85%;
    max-width: 1400px;
  }

  body {
    height: 100vh;
    overflow: hidden;
    background: $violet url("../images/bg-desktop.svg") no-repeat;
    // background-size: 90% 100%;
    background-size: cover;
    display: grid;
    grid-template-rows: 18vh auto 13vh;
    justify-content: center;
    align-items: center;
  }

  header {
    .logo {
      width: unset;
      height: unset;
    }
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      display: grid;
      grid-template-columns: 55% 44%;
      gap: 3rem;
      justify-content: center;
      // align-items: center;
      text-align: left;
    }

    .illustration {
      margin: 0;
      img {
        height: unset;
      }
    }

    .introductory-text {
      padding-top: 2.5em;
    }

    h1 {
      font-size: 2rem;
    }

    p {
      padding: 0;
    }
  }

  footer {
    .container {
      align-items: flex-end;
    }
  }
}

@media (min-width: 1200px) {
  body {
    background-size: 90% 100%;
  }

  .container {
    width: 90%;
    max-width: 1400px;
  }

  main {
    .container {
      gap: 4rem;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
}
